<!doctype html>
<html lang="en" class="h-100" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Nuevo Empleado</title>
</head>
<body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">FinanFilms</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-3 active" aria-current="page" href="http://localhost:8080/">Home</a>
                <a class="nav-link fw-bold py-1 px-3" href="http://localhost:8080/empleados">Empleados</a>
                <a class="nav-link fw-bold py-1 px-3" href="http://localhost:8080/empresas">Empresa</a>
                <a class="nav-link fw-bold py-1 px-3" href="http://localhost:8080/enterprises">MovimientoDinero</a>
            </nav>
        </div>
    </header>

<main>

    <div class = "px-4 py-3 my-2 text-center">
        <h1 class = "display-5 fw-bold mb-5"> Nuevo Empresa</h1>

        <div class="col-lg-5 mx-auto">


            <form th:action="@{/empresas}" th:method="post" th:object="${emp2}"  class="d-flex flex-column gap-3 align-items-center">
                <input th:field="*{nitEmpresa}" class="form-control" type="number" placeholder="Nit Empresa " />
                <input th:field="*{direccionEmpresa}" class="form-control" type="text" placeholder="Direccion " />
                <input th:field="*{nombreEmpresa}" class="form-control" type="text" placeholder="Nombre " />
                <input th:field="*{telefonoEmpresa}" class="form-control" type="text" placeholder="Telefono" />

                <button class="btn btn-primary btn-lg px-4 gap-3" type="submit"> Crear Empresa </button>
            </form>

            <!-- Al colocar las instrucciones "th" se daña el formulario...
           <form class="d-flex flex-column gap-3 align-items-center">
               <input class="form-control" type="number" placeholder="Nit Empresa " />
               <input class="form-control" type="text" placeholder="Direccion " />
               <input class="form-control" type="text" placeholder="Nombre " />
               <input class="form-control" type="text" placeholder="Telefono" />

               <button class="btn btn-primary btn-lg px-4 gap-3" type="submit"> Crear Empresa </button>

           </form>

-->
       </div>



   </div>



</main>
<footer class="mt-auto text-white-50">
   <p>Propiedad de Finanfilms generado con <a href="https://getbootstrap.com/" class="text-white">  Bootstrap </a></p>
</footer>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>